*{
    margin: 0;
    font-family: "Open Sans", sans-serif;
}
.primary-text-color{
    color: #FD6E0A;
}
.primary-button{
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    color: #FFFFFF;
    padding: 18px 35px;
    height: 64px;
}
/* Header styles */
.header{
    background: #FFF8F3;
    background-image: url('../images/header_bg.png'), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, 38px 23px;
}
/* Header Nav styles */
nav{
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
}
.nav-title{
    font-size: 45px;
    font-weight: 800;
}
nav ul{
    display: flex;
    align-items: center;
    color: #474747;
}
nav li{
    list-style: none;
    margin-left: 50px;
}
/* Header Banner styles */
.banner{
    display: flex;
    margin: 0 200px;
    align-items: center;
}
.banner-contents{
    margin-right: 193px;
}
.banner-sub-title{
    font-size: 45px;
    font-weight: 600px;
    color: #474747;
}
.banner-title{
    font-size: 85px;
    font-weight: 700px;
    color: #181818;
    margin-top: 5px;
    margin-bottom: 20px;
}
.banner-description{
    text-align: left;
    width: 585px;
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
}
.contact-button{
    background-color: #FFFFFF;
    border: 1px solid;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    color: #FD6E0A;
    height: 64px;
    width: 160px;
    border-color: #FD6E0A;
    margin-left: 30px;
}
/* Main Section styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}
section{
    margin-top: 130px;
}
/* About Me styles */
.about{
    background-color: #FFF8F3;
    border-radius: 10px;
    padding: 131px 156px;
    text-align: center;
}
.section-title{
    text-align: center;
    margin-bottom: 50px;
    font-size: 35px;
    font-weight: 700;
    color: #181818;
}
.section-description{
    margin-bottom: 50px;
    font-size: 18px;
    color: #757575;
}
.about-container{
    display: flex;
    justify-content: space-around;
}
.about-info-title{
    color: #757575;
    font-size: 20px;
}
.about-info-description{
    color: #474747;
    font-size: 20px;
    font-weight: 700;
}
/* What I do styles */
.skills-container{
    display: flex;
    gap: 24px;
}
.skill{
    background-color: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    height: 377px;
    width: 267px;
    border-radius: 5px;
    padding: 30px;
}
.skill-title{
    color: #181818;
    font-size: 20px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 20px;
}
.skill-description{
    color: #757575;
}
/* Resume styles */
.resume-container{
    display: flex;
    gap: 71px;
}
.education-experience-section{
    margin-top: 113px;
    margin-bottom: 30px;
}
.education-experience-section h3{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 700;
    color: #474747;
}
.education-experience h4{
    font-size: 25px;
    font-weight: 700;
    color: #474747;
}
.education-experience h6{
    font-size: 20px;
    font-weight: 600;
    color: #757575;
    margin-top: 10px;
    margin-bottom: 20px;
}
.education-experience p{
    color: #757575;
}
.education-experience hr{
    color: #D1D1D1;
    margin-top: 30px;
    margin-bottom: 30px;
    border-width: .5px;
}
.resume-button{
    margin-top: 50px;
    text-align: center;
}
/* Contact section styles */
footer{
    display: flex;
    gap: 117px;
    margin-top: 113px;
    padding: 130px 200px;
    background-color: #FFF8F3;
}
.footer-title{
    font-size: 35px;
    font-weight: 700;
    color: #181818;
}
.social-description{
    color: #474747;
    width: 562px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.social a{
    text-decoration: none;
    padding-right: 24px;
}
.contact input{
    height: 64px;
    width: 461px;
    border: 0;
    margin: 24px 0 24px 0;
    padding: 18px;
}
.contact textarea{
    height: 180px;
    width: 461px;
    margin: 24px 0 24px 0;
    padding: 18px;
    border: 0;
}
.contact input[type="submit"]{
    height: 64px;
    width: 150px;
}
